:root {
  --default-padding: 16px;
  --heading-font-size: 1.5rem;
  --light-gray: #dfe1e2;
  --link-color: #006fbc;
  --twitter-color: hsl(204, 88%, 53%);
  --twitter-focus-color: hsl(204, 88%, 63%);
  --default-font-family: "Roboto Flex", "Source Han Sans VF", "Source Han Sans JP VF",
    "Source Han Sans", "Source Han Sans JP", "Noto Sans JP", "Noto Sans CJK JP";
}

html {
  font-family: var(--default-font-family, sans-serif);
  font-size: 100%;
  line-height: 1;
  text-align: justify;
}

*:focus-visible {
  outline: revert;
}

.body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}
.body__header {
  background: #fff;
  border-block-end: solid 1px var(--light-gray);
}
.body__main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: 64px;
  padding-inline: 16px;
  row-gap: 64px;
}
.body__footer {
  background: #fff;
  border-block-start: solid 1px var(--light-gray);
  margin-block-start: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 16px;
  font-stretch: 50%;
}

.onakasuitter {
  display: flex;
  justify-content: center;
}
.onakasuitter__button {
  --shadow: 0 0 8px 1px rgba(211, 211, 211, 0.5),
    0 1px 4px 1px rgba(127, 127, 127, 0.25);
  align-items: center;
  background: var(--twitter-color);
  border-radius: 9999px;
  box-shadow: var(--shadow);
  color: #fff; /* This determine both text and SVG fill color */
  column-gap: 16px;
  display: flex;
  padding-block: 16px;
  padding-inline: 32px;
}
.onakasuitter__button:hover {
  background: var(--twitter-focus-color);
  --shadow: 0 0 2px 1px rgba(211, 211, 211, 0.5),
    0 2px 8px 2px rgba(127, 127, 127, 0.5);
}
.onakasuitter__button:focus-visible {
  background: var(--twitter-focus-color);
}
.onakasuitter__icon {
  aspect-ratio: 1/1;
  block-size: 32px;
  inline-size: 32px;
}
.onakasuitter__text {
  font-size: 1.5rem;
  font-weight: 700;
  font-feature-settings: "palt";
}

.readme {
  --shadow: 0 0 4px 1px rgba(211, 211, 211, 0.25),
    0 1px 2px 1px rgba(127, 127, 127, 0.25);
  background: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow);
  line-height: 1.5;
  max-inline-size: 768px;
  padding: 32px;
}
.readme h2 {
  border-block-end: solid 1px var(--light-gray);
  margin-block-end: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  font-feature-settings: "palt";
  margin-block-start: 1em;
}
.readme h2:first-child {
  margin-block-start: 0;
}
.readme ul {
  list-style: disc;
  padding-inline-start: 1em;
}
.readme ul li::marker {
  content: "※";
}
.readme a{
  color: #006fbc;
  text-decoration: underline;
}
.readme strong{
  font-weight: 700;
}

.copyright {
  display: block;
  text-align: center;
  padding: 16px;
}
